.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
}

.dragdrop {
    border: 2px dashed #eeeeee;
    text-align: center;
    padding: 2rem 3rem;
}

.dragdrop:hover {
    cursor: pointer;
}
