.progressContainer {
    background-color: #eff3fc;
    border-radius: 0.7rem;
}

.completed {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    background-color: #434c5e;
    color: #fbfcfd;
}
